#caps{
    width: 80px;
}
.button{
    height: 50px;
    width: 50px;
    border-radius: 9px;
    background-color:gray;
    color: white;
}
.blink {
    animation: blink 0.5s linear;
    background: lightgrey;
}
#inputField{
    height: 25px;
    width: 570px;
}
#tab{
    width: 70px;
}
#shift{
    width: 62px;
}
#space{
    width: 187px;
}
#backspace{
    width: 75px;
}
#enter{
    width: 105px;
}
#hero{
    display: block;
}
#note{
    width: 300px;
    height: 300px;
    background-color: pink;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
}
#text{
    font-style: italic;
    font-size: large;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    
}

