.image_background{
    width: 1820px;
    height: 820px;
}
#clock{
    position: absolute;
    font-size: 80px;
    color: white;
    margin-top: 15%;
    margin-left: 41%;
    margin-bottom: 15%;
}

#header{
    width: 1820px;
    text-align: center;
}
.main_container{
    width: 100%;
    height: 870px;
    position: relative;
}
#inputField{
    width: 500px;
}